@import "./modules/reset";
@import "./modules/variables";
@import "./modules/general";

.container {
	display: grid;
	overflow: hidden;
	border-radius: 4px;
	position: relative;
	transition: all .25s ease-in;	
	grid-column-gap: var(--grid-layout-cols-gap);
	grid-template-columns: var(--grid-layout-cols);
	
	&.desktop {
		grid-column: 2;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	
	&.mobile {
		grid-column: 4;
		@media screen and (max-width: 768px) {
			grid-column: 2;
		}
	}
	
	.content {
		z-index: 2;
		position: relative;
		text-align: center;
		align-self: center;
		justify-self: center;
		grid-column:  3 / span 4;
	}
}