@import "./modules/reset";
@import "./modules/variables";
@import "./modules/mixins";
@import "./modules/root";
@import "./modules/general";
@import "./modules/header";
@import "./modules/nav";

#main {
	grid-column: 2;	
	display: flex;
	justify-content: center;

	.container {
		max-width: 900px;

		.content {
			text-align: center;
		}
	}
}

@media print {
	header {
		position: relative;
		background: transparent;
		box-shadow: 0 0 BLACK;
		text-align: left;
		max-width: 990px;
		margin: 40px auto;
		width: 100%;
	}

	* {
	    color: black !important;
	}

	a {
	    color: blue !important;
	}
}