{% extends "../_includes/shell.njk" %}

{% block body_page_attr %}
article
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ '/css/cv.css' | url }}">
{% endblock %}

{% block content %}
	{% include "../_includes/modules/cv/cv-content.njk" %}
{% endblock %}

{% block menu %}
	{% include "../_includes/modules/components/anchor-link.njk" %}
{% endblock %}