body {
	display: grid;
	padding: 10px 0;
	font-size: 24px;
	min-height: 100vh;
	background: $black;
	box-sizing: border-box;
	grid-template-columns: var(--body-layout-cols);
	
	@media screen and (max-width: 768px) {
		--body-layout-cols: 10px 1fr 10px;
	}
	
	font-family: var(--copy-font);
	font-weight: var(--copy-font-weight);
	
	h1, h2, h3, h4, h5, h6 {
		font-size: 48px;
		margin-bottom: 35px;
		font-family: var(--header-font);
	}
	
	&[theme="1"] {
		--background-gradient: #{$black};
		color: var(--theme-1-font);
		background: var(--theme-1-background);
	}
	&[theme="2"] {
		--background-gradient: #{$black};
		color: var(--theme-2-font);
		background: var(--theme-2-background);
	}
	&[theme="3"] {
		--background-gradient: #{$black};
		color: var(--theme-3-font);
		background: var(--theme-3-background);
	}
	&[theme="4"] {
		color: var(--theme-4-font);
		background: var(--theme-4-background);
	}
	&[theme="5"] {
		--background-gradient: #{$black};
		color: var(--theme-5-font);
		background: var(--theme-5-background);
	}
	&[theme="6"] {
		color: var(--theme-6-font);
		background: var(--theme-6-background);
	}
	
	&::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		content: "";
		opacity: .2;
		position: absolute;
		transition: all .25s ease-in;	
		background: linear-gradient(10deg, transparent, var(--background-gradient));
	}
}