body {
	padding: 0;
	display: grid;
	font-size: 16px;
	min-height: 100vh;
	box-sizing: border-box;
	color: var(--font-color);
	transition: var(--theme-transition);
	background: var(--background);
	grid-template-columns: var(--body-layout-cols);
	grid-template-rows: var(--body-layout-rows);
	grid-row-gap: 1em;
	
	@media screen and (max-width: 768px) {
		--body-layout-cols: 10px 1fr 10px;
	}
	
	font-family: var(--copy-font);
	font-weight: var(--copy-font-weight);
	
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1em;
		font-family: var(--header-font);
	}

	@for $i from 1 through 6 {
		h#{$i} {
			font-size: 1.4em + (0.7 - ($i/10));
		}
	}

	* {
		box-sizing: border-box;
	}

	p {
		line-height: 2;
		font-size: 1em;
		margin-bottom: 1em;
	}
	
	&[theme="night"] {
		--font-color: var(--theme-1-font);
		--background-gradient: #{$baby-powder};
		--background: var(--theme-1-background);
		--action-bar: var(--theme-1-action-bar);
		--inactive-background: var(--theme-2-background);
	}
	&[theme="day"] {
		--background-gradient: #{$black};
		--font-color: var(--theme-2-font);
		--background: var(--theme-2-background);
		--action-bar: var(--theme-2-action-bar);
		--inactive-background: var(--theme-1-background);
	}

	&::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		content: "";
		opacity: .1;
		position: absolute;
		pointer-events: none;
		transition: all .25s ease-in;	
		background: linear-gradient(10deg, transparent, var(--background-gradient));
	}
}