// font palette
$maastright-blue: #011627;
$baby-powder: #fdfffc;
$maximum-blue-green: #2ec4b6;
$rose-madder:  #e71d36;
$bright-yellow: #ff9f1c;
// background palette
$japanese-indigo: #264653;
$jungle-green: #2a9d8f;
$light-red-ochre: #e76f51;
$hansa-yellow: #e9c46a;
$sandy-brown: #f4a261;
$black: #111111;
$white: #f0e6e6;
$navy: #000010;

$header-font: 'Josefin Sans', sans-serif;
$header-font-weight: 600;
$top-header-font-weight: 800;

$copy-font: 'Raleway', sans-serif;
$copy-letter-spacing: 0.05em;
$copy-font-weight: 300;