<nav>
	<div class="theme_swapper">
		<div class="swatch"></div>
		<div class="swatch"></div>
	</div>
	<ul class="menu">
		<li class="window cv">
			<a href="{{ '/cv' | url }}">CV</a>
		</li>
		<li class="window blog">
			<a href="{{ '/blog' | url }}">Blog</a>
		</li>
		<li class="window projects">
			<a href="{{ '/projects' | url }}">Projects</a>
		</li>
	</ul>
</nav>