<nav>
	<section class="building">
		<div class="window cv">
			<a href="{{ '/cv' | url }}">CV</a>
		</div>
		<div class="window blog">
			<a href="{{ '/blog' | url }}">Blog</a>
		</div>
		<div class="window projects">
			<a href="{{ '/projects' | url }}">Projects</a>
		</div>
		{% for i in range(0, 9) -%}
			<div class="window no_show"></div>
		{%- endfor %}
	</section>
</nav>