<nav tabindex="2">
	<div class="content">
		<div class="theme_swapper">
			<div class="swatch"></div>
			<div class="swatch"></div>
		</div>
		<ul class="menu">
			<li class="window cv">
				<a href="{{ '/cv' | url }}">
					<span>CV</span>
				</a>
			</li>
			<li class="window blog">
				<a href="{{ '/blog' | url }}">
					<span>Blog</span>
				</a>
			</li>
			<li class="window projects">
				<a href="{{ '/projects' | url }}">
					<span>Projects</span>
				</a>
			</li>
		</ul>
	</div>
</nav>