<div class="container desktop">
	<div class="content">
		<h1>BenCo</h1>
		<p>What if the web was personalisation was used for more than marketing?</p>
		<p>What if themes weren't just for day/night switching?</p>
		<p>This website is an experiment.</p>
		<p>The intention of this website is to show how you can give the user the power to control aspects of the UI to better suit their needs.</p>
	</div>
</div> 