<div class="container desktop">
	<div class="content">
		<h1>BenCo</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quae corrupti fuga asperiores illo delectus aut, magni deserunt rem obcaecati rerum dignissimos laudantium quod id veniam, pariatur minima quam nostrum.</p>
	</div>
</div>

<div class="container mobile">
	<div class="content">
		<h1>BenCo</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quae corrupti fuga asperiores illo delectus aut, magni deserunt rem obcaecati rerum dignissimos laudantium quod id veniam, pariatur minima quam nostrum.</p>
	</div>
</div>